<!-- views/profile.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Node Authentication</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <style>
      body {
        padding-top: 80px;
        word-wrap: break-word;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Search material purchasing information</h1>
        <a href="/profile" class="btn btn-default btn-sm">Profile</a>
        <a href="/search" class="btn btn-default btn-sm">Search</a>
        <a href="/update" class="btn btn-default btn-sm">Add</a>
        <a href="/category" class="btn btn-default btn-sm">Category</a>
        <a href="/order" class="btn btn-default btn-sm">Order</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>

      <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-12">
          <div class="well">
            <!-- SEARCH FORM -->
            <form action="/search" method="POST">
              <div class="form-group">
                <label>Input Supplier ID</label>
                <input type="number" class="form-control" name="id" />
              </div>
              <button type="submit" class="btn btn-warning btn-lg">
                Search
              </button>
            </form>
             <!-- MESSAGE ERROR -->
            <% if(message.length) { %>
            <div style="margin-block: 10px">
              <div class="alert alert-danger" role="alert">
                This supplier does not exist in database. Please choose from 1, 2, 3, etc. for testing.
              </div>
            </div>
            <% } %>
             <!-- RESULT FORM -->
             <table class="table">
               <% data.map((item, index) => {  %>
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Supplier name</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Address</th>
                    <th scope="col">Bank account</th>
                    <th scope="col">Tax code</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr>
                    <th scope="row"><%= item.id %></th>
                    <td><%= item.name %></td>
                    <td><%= item.phone %></td>
                    <td><%= item.address %></td>
                    <td><%= item.bank_account %></td>
                    <td><%= item.tax_code %></td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            <!-- END FORM -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
